@import "tailwindcss";

html,
body,
#root {
  width: 100%;
  min-height: 100%;
}

body {
  margin: 0;
  font-family: Inter, sans-serif;
  background: #f5f7fb;
  color: #111827;
}

* {
  box-sizing: border-box;
}

button {
  cursor: pointer;
}

input,
textarea,
select {
  outline: none;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: #8b5cf6;
  border-radius: 20px;
}

::-webkit-scrollbar-track {
  background: #eef2ff;
}